@import url(https://fonts.googleapis.com/css?family=Lobster|Slabo+27px);

body {
  background: #222;
  display: block;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Lobster';
  color: black;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.2);
  font-size: 60px;
  margin: 0.4em 0;
}

svg {
  margin: 50px;
}

rect:hover {
  fill: white;
  cursor: pointer;
}

.tooltip {
  font-family: 'Slabo 27px';
  letter-spacing: 0.03em;
  line-height: 1.5em;
  position: absolute;
  display: none;
  pointer-events: none;
  max-width: 400px;
  padding: 15px;
  color: #6b695b;
  background-color: #f2f7ec;
  text-align: left;
}
  .tooltip.displayed {
    display: block;
  }
  .tooltip::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0,-50% );
    left: -6px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid  #f2f7ec;
  }
